# Rename to `config.ini`, and keep it in the same folder as `gh-issues-import.py`
# For a full list of options, see <http://www.iqandreas.com/github-issues-import/configuration/>

[login]
username = OctoDog
password = plaintext_pa$$w0rd

[source]
repository = OctoCat/Hello-World

[target]
repository = OctoDog/Hello-World

[format] # These can be adjusted based on your group's region and language.

# If unsure, just using '%c' will default to the locale’s appropriate date and time representation.
#date = %A %b %d, %Y at %H:%M GMT # Sample: Friday Sep 13, 2013 at 22:58 GMT

