# Rename to `config.py`, and keep it in the same folder as `gh-issues-import.py`

# REQUIRED VALUES
username = "user@example.com"
password = "naked_password"
src_repo = "octocat/Hello-World"
dst_repo = "helloworld-inc/Hello-World"

# OPTIONAL VALUES

# May want to adjust based on your group's region and language
# If unsure, just using '%c' will default to the locale’s appropriate date and time representation.
date_format = '%A %b %d, %Y at %H:%M GMT' # Sample: Friday Sep 13, 2013 at 22:58 GMT
