{% if site.github_url %}
<a id="forkme_banner" href="{{ site.github_url }}">View on GitHub</a>
{% endif %}

<a id="title_link" href="{{ site.url }}">
	<h1 id="page_title">{% if site.displayed_title %}{{ site.displayed_title }}{% else %}{{ site.title }}{% endif %}</h1>
	{% if site.subtitle %}<h2 id="page_subtitle">{{ site.subtitle }}</h2>{% endif %}
</a>

{% if site.github_url %}
<section id="downloads">
	<a class="zip_download_link" href="{{ site.github_url }}/zipball/master">Download this project as a .zip file</a>
	<a class="tar_download_link" href="{{ site.github_url }}/tarball/master">Download this project as a tar.gz file</a>
</section>
{% endif %}
