/*******************************************************************************
Custom modifications to the Slate Theme by Jason Costello
*******************************************************************************/

#header_wrap .inner {
	text-align: center;
}

a#title_link {
	display: block;
}

#main_content p {
	text-align: justify;
}

#footer_wrap .inner {
	text-align: center;
}

