/*******************************************************************************
Partials from Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

#forkme_banner {
	display: block;
	position: absolute;
	top:0;
	right: 10px;
	z-index: 10;
	padding: 10px 50px 10px 10px;
	color: #fff;
	background: url('images/blacktocat.png') #0069BA no-repeat 95% 50%;
	font-weight: 700;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;

	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-ms-transition: background-color 0.5s ease;
}

#forkme_banner:hover, #forkme_banner:focus {
	background-color: #0090FF
}

#downloads {
	position: absolute;
	width: 210px;
	z-index: 10;
	bottom: -40px;
	right: 0;
	height: 70px;
	background: url('images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
	display: block;
	float: right;
	width: 90px;
	height:70px;
	text-indent: -5000px;
	overflow: hidden;
	background: url(images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
	display: block;
	float: right;
	width: 90px;
	height:70px;
	text-indent: -5000px;
	overflow: hidden;
	background: url(images/sprite_download.png) no-repeat bottom right;
	margin-left: 10px;
}

.zip_download_link:hover, .zip_download_link:focus {
	background: url(images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover, .tar_download_link:focus {
	background: url(images/sprite_download.png) no-repeat top right;
}

/* Small Device Styles */
@media screen and (max-width: 480px) {
	#downloads {
		display: none;
	}
}
