/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

body {
	box-sizing: border-box;
	color:#373737;
	background: #212121;
	font-size: 16px;
	font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	font-weight: 700;
	color:#222222;
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
}

h1 {
	font-size: 36px;
	font-weight: 700;
}

h2 {
	padding-bottom: 10px;
	font-size: 32px;
	background: url('images/bg_hr.png') repeat-x bottom;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 21px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	margin: 10px 0 15px 0;
}

footer p {
	color: #f2f2f2;
}

a {
	text-decoration: none;
	color: #007edf;
	text-shadow: none;

	transition: color 0.5s ease;
	transition: text-shadow 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-webkit-transition: text-shadow 0.5s ease;
	-moz-transition: color 0.5s ease;
	-moz-transition: text-shadow 0.5s ease;
	-o-transition: color 0.5s ease;
	-o-transition: text-shadow 0.5s ease;
	-ms-transition: color 0.5s ease;
	-ms-transition: text-shadow 0.5s ease;
}

#main_content a:hover, #main_content a:focus {
	color: #0069ba;
	text-shadow: #0090ff 0px 0px 2px;
}

footer a:hover, footer a:focus {
	color: #43adff;
	text-shadow: #0090ff 0px 0px 2px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

img {
	position: relative;
	margin: 0 auto;
	max-width: 100%;
	padding: 5px;
	margin: 10px 0 10px 0;
	border: 1px solid #ebebeb;

	box-shadow: 0 0 5px #ebebeb;
	-webkit-box-shadow: 0 0 5px #ebebeb;
	-moz-box-shadow: 0 0 5px #ebebeb;
	-o-box-shadow: 0 0 5px #ebebeb;
	-ms-box-shadow: 0 0 5px #ebebeb;
}

p img {
	display: inline;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	text-align: center;
	border: none;
}

pre, code {
	width: 100%;
	color: #222;
	background-color: #fff;

	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	font-size: 14px;

	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

pre {
	width: 100%;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
	overflow: auto;
}

code {
	padding: 3px;
	margin: 0 3px;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
	display: block;
	box-shadow: none;
}

blockquote {
	color: #666;
	margin-bottom: 20px;
	padding: 0 0 0 20px;
	border-left: 3px solid #bbb;
}

ul, ol, dl {
	margin-bottom: 15px
}

ul li {
	list-style: inside;
	padding-left: 20px;
}

ol li {
	list-style: decimal inside;
	padding-left: 20px;
}

dl dt {
	font-weight: bold;
}

dl dd {
	padding-left: 20px;
	font-style: italic;
}

dl p {
	padding-left: 20px;
	font-style: italic;
}

hr {
	height: 1px;
	margin-bottom: 5px;
	border: none;
	background: url('images/bg_hr.png') repeat-x center;
}

table {
	border: 1px solid #373737;
	margin-bottom: 20px;
	text-align: left;
 }

th {
	font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 10px;
	background: #373737;
	color: #fff;
 }

td {
	padding: 10px;
	border: 1px solid #373737;
 }

form {
	background: #f2f2f2;
	padding: 20px;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
	width: 100%;
}

.inner {
	position: relative;
	min-width: 320px;
	max-width: 640px;
	padding: 20px 10px;
	margin: 0 auto;
}

#header_wrap {
	background: #212121;
	background: -moz-linear-gradient(top, #373737, #212121);
	background: -webkit-linear-gradient(top, #373737, #212121);
	background: -ms-linear-gradient(top, #373737, #212121);
	background: -o-linear-gradient(top, #373737, #212121);
	background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
	padding: 50px 10px 30px 10px;
}

#page_title {
	margin: 0;
	color: #fff;
	font-size: 42px;
	font-weight: 700;
	text-shadow: #111 0px 0px 10px;
}

#page_subtitle {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	background: none;
	text-shadow: #111 0px 0px 10px;
}

#main_content_wrap {
	background: #f2f2f2;
	border-top: 1px solid #111;
	border-bottom: 1px solid #111;
}

#main_content {
	padding-top: 40px;
}

#footer_wrap {
	background: #212121;
}



/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
	body {
		font-size:14px;
	}

	.inner {
		min-width: 320px;
		max-width: 480px;
	}

	#page_title {
	font-size: 32px;
	}

	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		font-size: 21px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 14px;
	}

	h6 {
		font-size: 12px;
	}

	code, pre {
		min-width: 320px;
		max-width: 480px;
		font-size: 11px;
	}

}
