{% raw %}
<nav id="menu" class="floating-menu left">
	<h3>Contents</h3>
    <ul>
        <li><a href="http://www.iqandreas.com/github-issues-import/">Main</a></li>
        <li><a href="http://www.iqandreas.com/github-issues-import/arguments/">Command Line Arguments</a></li>
        <li><a href="http://www.iqandreas.com/github-issues-import/configuration/">Configuration Options</a></li>
        <li><a href="http://www.iqandreas.com/github-issues-import/templates/">Custom Templates</a></li>
        <li><a href="https://github.com/IQAndreas/github-issues-import/">View source and report issues</a></li>
    </ul>
</nav>
{% endraw %}
