
/* RESET */
img.smiley, img.favicon {
	border-radius: 0;
	box-shadow: none;
	-moz-box-sizing: content-box;
	border: 0px none;
}

img.smiley {
	top: 0px;
	position: relative;
	/*float: left;
	margin-right: 0.5em;*/
}

img.favicon {
	top: 0px;
 	width: 16px;
 	height: 16px;
	padding: 0;
	margin: 0;
	margin-left: 5px;
	margin-right: 5px;
}

